[builderList]
modelClass = "Teugn\Parish\Models\Picturecarousel"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "headline"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 5
pageNumber = "{{ :page }}"
sortColumn = "created_at"
sortDirection = "desc"
==
<!--
{% set posts = blogPosts.posts %}
{% if posts.count>0 %}
<div id="blogCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for blogpost in posts %}
        {% if blogpost.published %}
        {% if slide_cnt < 4 %}
            {% if slide_cnt==0 %}
            <div class="carousel-item active" align="center" style="background-color: RGB(192,192,192);">
            {% else %}
            <div class="carousel-item" align="center" style="background-color: RGB(192,192,192);">
            {% endif %}
            <img class="slide{{slide_cnt}}" src="{{ blogpost.featured_images|first.path }}" alt="{{ blogpost.featured_images|first.description }}" style="height:360px;" />
            <div class="container">
                <div class="carousel-caption">
                <h1>{{ blogpost.title }}</h1>
                <p><a class="btn btn-lg btn-primary" href="{{ blogpost.url }}" role="button">mehr ...</a></p>
                </div>
            </div>
            </div>
        {% endif %}
        {% set slide_cnt = slide_cnt + 1 %}
        {% endif %}
        {% endfor %}
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{% else %}
<div class="container pt-3 pl-3 pr-3">
    <h3 style="text-align: center;">Willkommen auf der Homepage</h3>
    <h3 style="text-align: center;">der Pfarrei Teugn Lengfeld Alkofen</h3>
</div>
{% endif %}
-->


{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<div id="blogCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for record in records %}
            <div class="carousel-item {% if loop.index0==0 %}active{% endif %}" align="center" style="background-color: RGB(192,192,192);">
                <img class="slide{{ loop.index }}" src="{{ record.picture | media }}" alt="{{ record.picture }}" style="height:360px;" />
                <div class="container">
                    <div class="carousel-caption">
                        <h1>{{ record.headline }}</h1>
                        {% if record.link %}
                        <p><a class="btn btn-lg btn-success" href="{{ record.link }}" role="button">mehr ...</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <p class="no-data">{{ noRecordsMessage }}</p>
        {% endfor %}
    </div>
</div>
