[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 8
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = 404
postPage = "blog_post"
==
{% set posts = blogPosts.posts %}

{% if posts.count>0 %}
<div class="container pt-3" id="News">
    <h4 style="background-image: linear-gradient(rgba(255,0,0,0) 84%, green);">Berichte:</h4>
    <ul class="nav flex-column">
    {% for post in posts %}
    <li class="nav-item ml-3">
        <a href="{{ post.url }}" style="color: black;">{{ post.title }}</a>
    </li>
    {% endfor %}
    </ul>
</div>
{% endif %}
