<div class="container pt-3" id="contact">
    <h4 style="background-image: linear-gradient(rgba(255,0,0,0) 84%, green); font-family: Verdana;">Pfarrer</h4>
    <table class="table m-1" style="font-size: 15px">
        <tr>
            <td colspan="2">
                Kulaindhaisamy Ratchagar (Raja)
            </td>
        </tr>
        <tr>
            <td>
                Telefon (Festnetz):
            </td>
            <td>
                09405 / 962208
            </td>
        </tr>
        <tr>
            <td>
                Telefon (Mobil):
            </td>
            <td>
                0151 43 58 86 55
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td>
                kulaindhaiamy@gmail.com
            </td>
        </tr>

    </table>
    <h4 style="background-image: linear-gradient(rgba(0,128,0,0.1) 70%, rgba(0,128,0,1));">Pfarrbüro</h4>
    <table class="table m-1"  style="font-size: 15px">
        <tr>
            <td colspan="2">
                Öffnungszeiten:
            </td>
        </tr>
        <tr>
            <td>
                Di.
            </td>
            <td>
                9.00 - 12.00 Uhr
            </td>
        </tr>
        <tr>
            <td>
                Do.
            </td>
            <td>
                9.00 - 12.00 Uhr
            </td>
        </tr>
        <tr>
            <td>
                Telefon:
            </td>
            <td>
                09405 / 962207
            </td>
        </tr>
        <tr>
            <td>
                Telefax:
            </td>
            <td>
                09405 / 962209
            </td>
        </tr>

    </table>
</div>
