[builderList]
modelClass = "Teugn\Parish\Models\Welcome"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "headline"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 1
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}
{% set record = records[0] %}


<div class="container pt-3" style="height:400px; background-color:RGB(240,240,240);">
    <h4 style="text-align: center;">Grußworte von Pfarrer Raja:</h4>
    <div class="container-fluid pt-2">
        <div class="row">
            <div class="col-md-7">
                <!--<img src="{{ record.picture | media }}" class="rounded" alt="{{ record.picture }}" style="max-width: 240px; height:300px;"></img>-->
                <video width="320" height="240" controls>
                    <source src="{{ "vid.mp4" | media }}" type="video/mp4">
                </video>
            </div>
            <div class="col-md-5">
                <h5>{{ record.headline }}</h5>
                <p>{{ record.text }}</p>
            </div>
        </div>
    </div>
</div>
