==
<div class="container" style="background-color: white;">
    <div class="row pl-3 pt-1 pb-1">
        <div class="col-lg-2">
          <a href="/">
              <img src="/themes/parish/assets/images/churches_drawn.png" alt="HOME" height="80" />
          </a>
        </div>
        <div class="col-lg-7">
          <div class="row">
            <h3 align="center" style="font-stretch: expanded; color:black">Pfarrei</h3>
          </div>
          <div class="row">
            <h4 align="center" style="font-stretch: narrowed; color:black">Teugn - Lengfeld - Alkofen</h4>
          </div>
        </div>
        <div class="col-lg-3">
            <ul class="nav justify-content-end">
                <li class="nav-item legalmenu">
                    <a class="nav-link" href="/credits">Impressum</a>
                </li>
                <li class="nav-item legalmenu">
                    <a class="nav-link" href="/privacy">Datenschutz</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
  <div class="row" style="background-color: #1e7e34">
    <div class="col-12">
      <div class="container pt-1 pb-2">
      </div>
    </div>
</div>
</div>
