[builderList]
modelClass = "Teugn\Parish\Models\Activitiy"
scope = "scopeNextMasses"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No entries found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 6
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

{% if records.count > 0 %}
<div class="container pt-3 pb-3" id="activities" >
    <h4>Gottesdienste:</h4>
    {% set last_date = "-not set-" %}
    {% for record in records %}
        {% set next_date = attribute(record, 'start_date')|date("d.m.Y") %}
        {% if (last_date != next_date) %}
            {% set last_date = next_date %}
            <div class="row" style="font-weight: bold;">
                <div class="col-12">
                    {{ last_date }}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-3">
                {{ attribute(record, "start_time")|date("H:i") }}
            </div>
            <div class="col-2">
                {{ attribute(record, "location")[:3] }}
            </div>
            <div class="col-7">
                {{ attribute(record, "type") }}
            </div>
        </div>
    {% endfor %}
    <!--
    <table>
    {% set last_date = "-not set-" %}
    {% for record in records %}
        {% set next_date = attribute(record, 'start_date')|date("d.m.Y") %}
        {% if (last_date != next_date) %}
            {% set last_date = next_date %}
            <tr>
                <th>{{ last_date }}</th>
            </tr>
        {% endif %}
        <tr>
            <td>
                {{ attribute(record, "start_time")|date("H:i") }}
            </td>
            <td>
                {{ attribute(record, "location")[:3] }}
            </td>
            <td>
                {{ attribute(record, "type") }}
            </td>
        </tr>
        {% else %}
        <p>Keine Gottesdienste eingetragen!</p>
    {% endfor %}
    </table>
    -->
</div>
{% endif %}
