
==

<style>

#nav_admin > a:link {
      color: black;
      background-color: transparent;
      text-decoration: none;
      transition: 0.5s;
    }

#nav_admin > a:visited {
      color: black;
      background-color: transparent;
      text-decoration: none;
      transition: 0.5s;
    }

#nav_admin > a:active {
      color: lightgreen;
      background-color: transparent;
      transition: 0.3s;
    }

#nav_admin > a:hover {
        background-color: #3e8e41;
        color: white;
    }

</style>


<nav class="nav nav-pills flex-column pt-3" id="nav_admin">
    <a class="nav-link" href="/parish_office">Pfarrbüro</a>
    <a class="nav-link" href="/priest">Pfarrer</a>
    <a class="nav-link" href="/parish_administration">Kirchenverwaltung</a>
    <a class="nav-link pl-4" href="/parish_administration_teugn">Teugn</a>
    <a class="nav-link pl-4" href="/parish_administration_lengfeld">Lengfeld</a>
    <a class="nav-item nav-link" href="/parish_council">Pfarrgemeinde</a>
    <a class="nav-item nav-link pl-4" href="/parish_council_teugn">Teugn</a>
    <a class="nav-item nav-link pl-4" href="/parish_council_lengfeld">Lengfeld</a>
    <a class="nav-item nav-link" href="/altarservers">Ministranten</a>
    <a class="nav-item nav-link pl-4" href="/altarservers_teugn">Teugn</a>
    <a class="nav-item nav-link pl-4" href="/altarservers_lengfeld">Lengfeld</a>
    <a class="nav-item nav-link" href="/sacristan">Mesner</a>
    <a class="nav-item nav-link pl-4" href="/sacristan_teugn">Teugn</a>
    <a class="nav-item nav-link pl-4" href="/sacristan_lengfeld">Lengfeld</a>
    <a class="nav-item nav-link" href="/Lectors">Lektoren</a>
    <a class="nav-item nav-link pl-4" href="/lectors_teugn">Teugn</a>
    <a class="nav-item nav-link pl-4" href="/lectors_lengfeld">Lengfeld</a>
</nav>



