[viewBag]

==
<div class="container pl-0 pr-0 pt-2 pb-0 invert" style="background-color:white;">
    <div class="row" >
        <div class="col-12">
            <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                        <a class="nav-link" href="/">Startseite <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                        <a class="nav-link" href="/masses">Gottesdienste <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                        <a class="nav-link" href="/blog">Berichte <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Verwaltung
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/parish_office">Pfarrbüro</a></li>
                                <li><a class="dropdown-item" href="/parish_management">Kirchenverwaltung</a></li>
                                <li><a class="dropdown-item" href="/parish_council">Pfarrgemeinderat</a></li>
                                <li><a class="dropdown-item" href="/altarservers">Ministranten</a></li>
                                <a class="dropdown-item" href="/downloads">Downloads</a>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
