title = "blog_post"
url = "/blog_post/:slug"
layout = "base"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = 404
==
<div class="container p-3">
    {% if post %}
    {% set post = blogPost.post %}

    <h2>{{ post.title }}</h2>

    <div class="content">{{ post.content_html | raw }}</div>

    {% if post.featured_images.count %}
    <p>
    <h5>Bilderstrecke ({{ post.featured_images.count }} Bilder):</h5>
    </p>

    {% set img_cnt=0 %}
    <div id="demo" class="carousel slide" data-ride="carousel">
        {% for image in post.featured_images %}
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        {% endfor %}
        <div class="carousel-inner">
            {% for image in post.featured_images %}
                {% if img_cnt==0 %}
                <div class="carousel-item active" align="center" style="background-color:grey;">
                {% else %}
                <div class="carousel-item" align="center" style="background-color: grey;">
                {% endif %}
                    <img
                    data-src="{{ image.filename }}"
                    src="{{ image.path }}"
                    alt="{{ image.description }}"
                    style="height:500px" />
                </div>
                {% set img_cnt=img_cnt+1 %}
            {% endfor %}
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
        </div>
    </div>
    {% endif %}

    <p class="info">
        {% if post.categories.count %}
            {{ post.title }}
            {% set categoryLinks = post.categories | map(c => "<a href=\"#{c.url}\">#{c.name}</a>") | join(', ') %}

            {{ 'rainlab.blog::lang.post.posted_byline' | trans({
                date: post.published_at | date('rainlab.blog::lang.post.date_format' | trans),
                categories: categoryLinks
            }) }}
        {% else %}
            {{ 'rainlab.blog::lang.post.posted_byline_no_categories' | trans({
                date: post.published_at | date('rainlab.blog::lang.post.date_format'|trans)
            }) }}
        {% endif %}
    </p>
    {% else %}
        <h2>Post not found</h2>
    {% endif %}
</div>

